body {
  font-family: Helvetica;
  padding: 2em;
  background-color: #E9A4F7;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

ul {
  list-style: none;
  padding: 0;
}
  
