body {
  font-family: Helvetica;
  padding: 7em;
  background-color: #FFFFFF;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

ul {
  list-style: none;
  padding: 0;
}

div.heading {
  padding: 3em;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1em 5em 1em 5em;
  background-color: #669999;
}

div.link {
  padding: 4em;
  border-style: solid;
  border-color: #FFFFFF #339933;
  border-width: 0em 1em 1em 1em;
  background-color: #66cc66;
  /* Use 66CC66 for unselected, use 339933 for highlighted, use white for selected*/
}
